.container{
  margin-top: 2%;
}
img{
  border-radius: 25%;
}
.nav-link{
  font-size: 15pt;
  color: white;}
.nav-link:hover{
  color: black;
}
body{
  background: linear-gradient(to right,#112233,#336699)
}
/* h1{
  display: block;
  margin: 25%;
  color: white;
} */
